@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.eot');
    src: url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
    url('../fonts/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/NunitoSans-Regular.ttf') format('truetype'),
    url('../fonts/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    font-size: inherit;
}
.container{
    max-width: 1171px;
    margin: auto;
}
body{
    background-color: #e9e9e9;
}
header ul li{
    display: inline-block;
    font-size: 12px;
    color: #191919;
    font-family: 'Montserrat', cursive;
    margin-right: 30px;
}
header ul li:hover{
    color: #10c9c3;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.flex-block{
    margin-top: 40px;
    margin-bottom: 185px;
}
.flex-block-2 h1{
    color: #1d1d1d;
    font-size: 38px;
    font-family: 'Montserrat', cursive;
}
.flex-block-2 p{
    color: #787878;
    font-size: 18px;
    font-family: 'Nunito Sans', cursive;
    line-height: 32px;
    margin-bottom: 39px;
    margin-top: 16px;
}
.flex-container-2{
    display: flex;
    justify-content: flex-end;
}
.flex-block-2{
    flex-basis: 480px;
    margin-bottom: 200px;
}
.flex-block-2 a{
    color: white;
    background-color: #10c9c3;
    font-size: 12px;
    text-align: center;
    min-width: 180px;
    padding: 23px 50px;
    font-family: 'Montserrat', cursive;
    text-decoration: none;
}
.white-block{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.white-block h2{
    color: #191919;
    font-size: 30px;
    font-family: 'Montserrat', cursive;
    margin-bottom: 40px;
}
.white-block p{
    color: #787878;
    font-size: 16px;
    font-family: 'Nunito Sans', cursive;
    padding-bottom: 38px;
}
.light-grey{
    width: 50%;
    background-color: #f8f9f9;
}
.light-grey h2{
    color: #191919;
    font-size: 30px;
    font-family: 'Montserrat', cursive;
    margin-bottom: 40px;
}
.light-grey span{
    color: #1d1d1d;
    font-size: 12px;
    font-family: 'Montserrat', cursive;
    text-transform: uppercase;
    display: block;
    line-height: 48px;
}

.flex-container-3{
    display: flex;
    justify-content: flex-start;
    padding: 165px 0;
}
.flex-block-3{
    flex-basis: 480px;
}
.aqua{
    background-color: #10c9c3;
    width: 100%;
}
.aqua img{
    margin-right: 25px;
}
.aqua span{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', cursive;
    display: block;
    position: relative;
    bottom: 40px;
    left: 68px;
}
.aqua span:first-of-type{
    font-size: 18px;
}
.flex-container-space{
    display: flex;
    justify-content: space-between;
}
.flex-block-space{
    display: inline-block;
    margin: 102px 0 62px 0;
}
.img{
    max-width: 1366px;
    margin: auto;
}
.img img{
    width: 25%;
    margin: 0;
}